// colors
$primary-color: #191d2b;
$secundary-color: #27AE60;
$white: #FFFFFFFF;
$black: #000;
$grey-0: #f8f8f8;
$grey-1: #dbe1e8;
$grey-2: #b2becd;
$grey-3: #6c7983;
$grey-4: #454e56;
$grey-5: #2a2e35;
$grey-6: #12181b;

// fonts

$princypal-font: "Poppins", sans-serif;

$br-sm-2: 14px;


$box-shadow-1: 0 3px 15px rgba(0,0,0,.2);